<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.medicine.MedicineStoreMapper">
    
    <resultMap type="com.ruoyi.system.domain.medicine.MedicineStore" id="MedicineStoreResult">
        <result property="id"    column="id"    />
        <result property="drugName"    column="drug_name"    />
        <result property="manufacturer"    column="manufacturer"    />
        <result property="price"    column="price"    />
        <result property="beginDate"    column="begin_date"    />
        <result property="endDate"    column="end_date"    />
        <result property="batchNumber"    column="batch_number"    />
        <result property="location"    column="location"    />
        <result property="count"    column="count"    />
        <result property="unit"    column="unit"    />
        <result property="specifications"    column="specifications"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectMedicineStoreVo">
        select id, drug_name, manufacturer, price, begin_date, end_date, batch_number, location, count, unit, specifications, remark from medicine_store
    </sql>

    <select id="selectMedicineStoreList" parameterType="com.ruoyi.system.domain.medicine.MedicineStore" resultMap="MedicineStoreResult">
        <include refid="selectMedicineStoreVo"/>
        <where>  
            <if test="drugName != null  and drugName != ''"> and drug_name like concat('%', #{drugName}, '%')</if>
            <if test="manufacturer != null  and manufacturer != ''"> and manufacturer like concat('%', #{manufacturer}, '%')</if>
            <if test="price != null  and price != ''"> and price = #{price}</if>
            <if test="beginDate != null "> and begin_date = #{beginDate}</if>
            <if test="endDate != null "> and end_date = #{endDate}</if>
            <if test="batchNumber != null  and batchNumber != ''"> and batch_number = #{batchNumber}</if>
            <if test="location != null  and location != ''"> and location = #{location}</if>
            <if test="count != null "> and count = #{count}</if>
            <if test="unit != null  and unit != ''"> and unit = #{unit}</if>
            <if test="specifications != null  and specifications != ''"> and specifications = #{specifications}</if>
        </where>
    </select>
    
    <select id="selectMedicineStoreById" parameterType="Long" resultMap="MedicineStoreResult">
        <include refid="selectMedicineStoreVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertMedicineStore" parameterType="com.ruoyi.system.domain.medicine.MedicineStore" useGeneratedKeys="true" keyProperty="id">
        insert into medicine_store
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="drugName != null  and drugName != ''">drug_name,</if>
            <if test="manufacturer != null  and manufacturer != ''">manufacturer,</if>
            <if test="price != null  and price != ''">price,</if>
            <if test="beginDate != null ">begin_date,</if>
            <if test="endDate != null ">end_date,</if>
            <if test="batchNumber != null  and batchNumber != ''">batch_number,</if>
            <if test="location != null  and location != ''">location,</if>
            <if test="count != null ">count,</if>
            <if test="unit != null  and unit != ''">unit,</if>
            <if test="specifications != null  and specifications != ''">specifications,</if>
            <if test="remark != null  and remark != ''">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="drugName != null  and drugName != ''">#{drugName},</if>
            <if test="manufacturer != null  and manufacturer != ''">#{manufacturer},</if>
            <if test="price != null  and price != ''">#{price},</if>
            <if test="beginDate != null ">#{beginDate},</if>
            <if test="endDate != null ">#{endDate},</if>
            <if test="batchNumber != null  and batchNumber != ''">#{batchNumber},</if>
            <if test="location != null  and location != ''">#{location},</if>
            <if test="count != null ">#{count},</if>
            <if test="unit != null  and unit != ''">#{unit},</if>
            <if test="specifications != null  and specifications != ''">#{specifications},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
         </trim>
    </insert>

    <update id="updateMedicineStore" parameterType="com.ruoyi.system.domain.medicine.MedicineStore">
        update medicine_store
        <trim prefix="SET" suffixOverrides=",">
            <if test="drugName != null  and drugName != ''">drug_name = #{drugName},</if>
            <if test="manufacturer != null  and manufacturer != ''">manufacturer = #{manufacturer},</if>
            <if test="price != null  and price != ''">price = #{price},</if>
            <if test="beginDate != null ">begin_date = #{beginDate},</if>
            <if test="endDate != null ">end_date = #{endDate},</if>
            <if test="batchNumber != null  and batchNumber != ''">batch_number = #{batchNumber},</if>
            <if test="location != null  and location != ''">location = #{location},</if>
            <if test="count != null ">count = #{count},</if>
            <if test="unit != null  and unit != ''">unit = #{unit},</if>
            <if test="specifications != null  and specifications != ''">specifications = #{specifications},</if>
            <if test="remark != null  and remark != ''">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteMedicineStoreById" parameterType="Long">
        delete from medicine_store where id = #{id}
    </delete>

    <delete id="deleteMedicineStoreByIds" parameterType="String">
        delete from medicine_store where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>